*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 100px;
}
main{
    width: 600px;
    margin: auto;
}

#caja1{
    width: 350px;
    margin: 75px auto;
    height: 100px;
    background-color: #9cdaf0;

    /* sombra */
    /*box-shadow: ejeX  ejeY  color;*/
    box-shadow: 10px 25px #707070;
}

#caja2{
    width: 350px;
    margin: 75px auto;
    height: 100px;
    background-color: #9cdaf0;

    /* sombra */
    /*box-shadow: ejeX  ejeY  blur  color;*/
    box-shadow: 0px 0px 10px #707070;
}